@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --ashh:#808080;
    --orange:#FEA301;
    --sky-blue:#01ACFD;
}
body{
    font-family: "Quicksand", serif;
}
main p{
    font-family: "Raleway", serif;
}
/* shared style */
button{
    cursor: pointer;
}
/* shared style */
/*==== header section starts ====*/
header{
    background: #F7F7F7;
}
header nav{
    padding: 20px 136px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navbar_brand{
    display: flex;
    align-items: center;
    gap: 13px;
    cursor: pointer;
}
.hamburger_icon{
    display: none;
    font-size: 30px;
    cursor: pointer;
}
.navbar_brand img{
    width: 58px;
}
.navbar_brand h2{
    font-size: 28px;
}
nav ul{
    display: flex;
    align-items: center;
    gap: 28px;
    list-style: none;
}
nav li a{
    font-size: 19px;
    font-weight: 600;
    text-decoration: none;
}
nav button{
    padding: 9px 57px;
    border: none;
    background: var(--orange);
    border-radius: 12px;
    color: #fff;
    font-weight: 600;
    font-size: 19px;
}
/* hero section starts */
.hero_section{
    padding: 0 136px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.hero_section img{
    width: 450px;
}
.hero_section h2{
    font-size: 53px;
    font-weight: 700;
    line-height: 61px;
    color: #111111;
}
.hero_section p{
    font-size: 18px;
    margin: 22px 0;
}
.hero_section button{
    padding: 9px 45px;
    border: none;
    background: #111111;
    color: #fff;
    font-size: 18px;
    font-weight: 700;
    border-radius: 12px;
}
/* hero section ends */
/*==== header section ends ====*/